{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Edit Park</h3>
<div class="row card-panel blue-grey-text text-darken-3">
  <form class="col s12" method="POST" action="{{ url_for('edit_park', park_id=park._id) }}">
    <!-- Park Name -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-pencil-alt prefix"></i>
        <input id="park_name" name="park_name" minlength="5" maxlength="50" 
          type="text" value="{{ park.park_name }}" class="validate" required>
        <label for="park_name">Park Name</label>
      </div>
    </div>
    <!-- Park Image -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-align-left prefix"></i>
        <input id="park_image" name="park_image" minlength="5" type="text"
          value="{{ park.park_image }}" class="materialize-textarea validate" required>
        <label for="park_image">Park Image URL</label>
      </div>
    </div>
    <!-- Park Description -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-align-left prefix"></i>
        <textarea id="park_description" name="park_description" minlength="5" 
          class="materialize-textarea validate" required>
        {{- park.park_description -}}
        </textarea>
        <label for="park_description">Park Description</label>
      </div>
    </div>
    <!-- Add and Cancel Buttons -->
    <div class="col s12 center-align">
      <button type="submit" class="btn-large green accent-2 blue-grey-text text-darken-3">
      Update Park
      </button>
      <a href="{{ url_for('get_park') }}" 
        class="btn-large blue-grey-text text-lighten-5 blue-grey darken-3">
      Cancel
      </a>
    </div>
  </form>
</div>
{% block googlemap %}
{% endblock %}
{% endblock %}