{% extends "base.html" %}
{% block content %}

    <!-- Usernames Name-->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel blue-grey-text text-darken-3">
                <h3 class="center-align">
                    {{ username }}'s Walks
                </h3>
            </div>
        </div>
    </div>
    <!-- Accordion of Users Added Walks -->
    <ul class="collapsible popout center-align blue-grey-text text-darken-3">
        {% for walk in walks %}
        <li>
            <div class="collapsible-header">
                <div class="col s12 m6">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ walk.walk_name }}</strong>
                </div>
                <div class="col s12 m6">
                    <a href="" class="btn-small green accent-2 blue-grey-text text-darken-3">
                        Edit Walk
                    </a>
                    <a href="" class="btn-small blue-grey-text text-lighten-5 blue-grey darken-3">
                        Delete
                    </a>
                </div>
            </div>
            <div class="collapsible-body blue-grey-text text-darken-3">
                <strong>{{ walk.park_name }}</strong>
                <p>{{ walk.walk_description }}</p>
                <p>{{ walk.walk_length }}</p>
                <p><em>by:  {{ walk.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}