{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Manage Parks</h3>

        <div class="row">
            {% for park in park %}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ park.park_image }}">
                            <span class="card-title">{{ park.park_name }}</span>
                        </div>
                        <div class="card-content blue-grey-text text-darken-3">
                            <p>{{ park.park_description }}</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="btn-small green accent-2 blue-grey-text text-darken-3">
                                Edit Park
                            </a>
                            <a href="#" class="btn-small green accent-2 blue-grey-text text-darken-3">
                                Delete Park 
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}