{% extends "base.html" %}
{% block content %} 

    <!-- Park Cards -->
    <h3 class="center-align">All Parks</h3>

    <div class="row">
        {% for park in park %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ park.park_image }}">
                        <span class="card-title">{{ park.park_name }}</span>
                    </div>
                    <div class="card-content blue-grey-text text-darken-3">
                        <p>{{ park.park_description }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
        <!-- Dartmoor -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/dartmoor.jpg">
                    <span class="card-title">Dartmoor National Park</span>
                </div>
                <div class="card-content blue-grey-text text-darken-3">
                    <p>Along with the ponies, one of Dartmoor’s most iconic sights is its tors.
                        The national park has more than 160 tors; dramatic outcrops of granite, usually standing on top of a hill.     
                    </p>
                </div>
            </div>
        </div>
    <!-- Walks -->
    <h3 class="center-align">All Walks</h3>

    <ul class="collapsible popout blue-grey-text text-darken-3">
        {% for walk in walks %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="btn-small green accent-2 blue-grey-text text-darken-3">
                        Add to My Walks
                    </a>
                </div>
                <div class="col s9">
                    <strong>{{ walk.walk_name }}</strong>
                </div>
            </div>
            <div class="collapsible-body blue-grey-text text-darken-3">
                <strong>{{ walk.park_name }}</strong>
                <p>{{ walk.walk_description }}</p>
                <p>{{ walk.walk_length }}</p>
                <p><em>by: {{ walk.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
 

{% endblock %}
