{% extends "base.html" %}
{% block content %} 

    <!-- Park Cards -->
    <h3 class="center-align">All Parks</h3>
    <!-- Peak District -->
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/peakdistrict.jpg">
                    <span class="card-title">Peak Distric National Park</span>
                </div>
                <div class="card-content blue-grey-text text-darken-3">
                    <p>The Peak District National Park is the UK’s original national park.
                        The Peak District National Park has three main landscapes,
                        the Dark Peak, White Peak and South West Peak. Each has it's own character and sense of place. 
                    </p>
                </div>
            </div>
        </div>
        <!-- Lake District -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/lakedistrict.jpg">
                    <span class="card-title">Lake District National Park</span>
                </div>
                <div class="card-content blue-grey-text text-darken-3">
                    <p>The Lake District National Park is England's largest National Park.
                        It is home to 10 mountains, 16 lakes, hidden tarns and around 28,500 hectares of woodland.
                    </p>
                </div>
            </div>
        </div>
        <!-- Snowdonia -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/snowdonia.jpg">
                    <span class="card-title">Snowdonia National Park</span>
                </div>
                <div class="card-content blue-grey-text text-darken-3">
                    <p>Situated on the west coast of Britain covering 823 square miles of diverse landscapes, Snowdonia National Park
                        boasts the highest mountain in England and Wales, and the largest natural lake in Wales.
                    </p>
                </div>
            </div>
        </div>
        <!-- Dartmoor -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/dartmoor.jpg">
                    <span class="card-title">Dartmoor National Park</span>
                </div>
                <div class="card-content blue-grey-text text-darken-3">
                    <p>Along with the ponies, one of Dartmoor’s most iconic sights is its tors.
                        The national park has more than 160 tors; dramatic outcrops of granite, usually standing on top of a hill.     
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Walks -->
    <h3 class="center-align">All Walks</h3>

    <ul class="collapsible popout blue-grey-text text-darken-3">
        {% for walk in walks %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="btn-small green accent-2 blue-grey-text text-darken-3">
                        Add to My Walks
                    </a>
                </div>
                <div class="col s9">
                    <strong>{{ walk.walk_name }}</strong>
                </div>
            </div>
            <div class="collapsible-body blue-grey-text text-darken-3">
                <strong>{{ walk.park_name }}</strong>
                <p>{{ walk.walk_description }}</p>
                <p>{{ walk.walk_length }}</p>
                <p><em>by: {{ walk.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
 

{% endblock %}
